
<br><br><br>
<div class = "container">
  <div class="row">
    <div class ="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading"><h2 class="text-center">BRONZE</h2></div>
        <div class="panel-body">
            <h1>3</h1><h6>MBPS</h6>
            <br><br><br>
            <p>&#9989; Fast Browsing</p>
            <p>&#9989; Reliable connectivity</p>
            <p>&#9989; Live Streaming of Music, videos</p>
            <p>&#10060; Superfast Downloads</p>
            <p>&#10060; CCTV Device capabilities</p>
            <hr class="line">
            <em class="text-center"><b> <h5>Ksh.</h5> <h1>1500</h1></b></em>
            <h4><i>per month</i></h4>
           
        </div>
      </div>
    </div>
    <div class ="col-md-3">
      <div class="panel panel-success">
        <div class="panel-heading"><h2 class="text-center">SILVER</h2></div>
        <div class="panel-body">
          <h1>4</h1><h6>MBPS</h6>
          <br><br><br>
          <p>&#9989; Fast Browsing</p>
          <p>&#9989; Reliable connectivity</p>
          <p>&#9989; Live Streaming of Music, videos</p>
          <p>&#9989; Superfast Downloads</p>
          <p>&#10060; CCTV Device capabilities</p>
          <hr class="line">
            <em class="text-center"><b> <h5>Ksh.</h5> <h1>2000</h1></b></em>
            <h4><i>per month</i></h4>
        </div>
      </div>
    </div>
    <div class ="col-md-3">
      <div class="panel panel-warning">
        <div class="panel-heading"><h2 class="text-center">GOLD</h2></div>
        <div class="panel-body">
          <h1>5</h1><h6>MBPS</h6>
          <br><br><br>
          <p>&#9989; Fast Browsing</p>
          <p>&#9989; Reliable connectivity</p>
          <p>&#9989; Live Streaming of Music, videos</p>
          <p>&#9989; Multiple Device Streaming</p>
          <p>&#9989; CCTV Device capabilities</p>
          <hr class="line">
            <em class="text-center"><b> <h5>Ksh.</h5> <h1>2500</h1></b></em>
            <h4><i>per month</i></h4>
        </div>
      </div>
    </div>
    <div class ="col-md-3">
      <div class="panel panel-danger">
        <div class="panel-heading"><h2 class="text-center">DIAMOND</h2></div>
        <div class="panel-body">
          <h1>6</h1><h6>MBPS</h6>
          <br><br><br>
          <p>&#9989; Fast Browsing</p>
          <p>&#9989; Hyperfast Video Download</p>
          <p>&#9989; Live Streaming of Music, videos</p>
          <p>&#9989; Multiple Device Streaming</p>
          <p>&#9989; CCTV Device capabilities</p>
          <hr class="line">
            <em class="text-center"><b> <h5>Ksh.</h5> <h1>3000</h1></b></em>
            <h4><i>per month</i></h4>
        </div>
      </div>
    </div>
    </div>
  </div>

