.responsive{


  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 2s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
.stream{
  width: 100%;
  border-radius: 50% ;
  height:150px

}
.social{
  width: 100%;
  border-radius: 70% ;
  height:auto
}
.virtual{
  width: 100%;
  border-radius: 50%
}
.gaming{
  width: 100%;
  border-radius: 50% ;
  height:150px
}
body{
  background-color: rgba(29, 157, 193, 0.8);
}
.pkg{
  text-align: center;
}
#box {
  width: 200px;
  height: 200px;
  background-color: red;
}
.panel panel-success{
  display:inline-block;

 overflow-x: scroll;
}
#btn1,#btn2{
  margin:auto;
}

#overlay {
  position: relative;
  text-align: center;

  color: white;
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:black;
}
.snow {


  background-color:blue;
  opacity: 0.6 ;
  height:460px;
  width:100%

}



#what{
  background-color:rgba(231, 52, 141, 0.8);
}

